
@import     "common.css" screen, projection;

@import url('landscape.css') screen and (orientation:portrait);
@import 'skin.css';
:AFTER{content:'after';background:#38c;}
html{
  height: 100%;
}
A{background:url(./logo.jpg);background-size:100%;animation:teatnamekey;}
BANNER{}
@-webkit-keyframes teatnamekey{
  0%{width:10px;}
  100%{height:10px;}
}
@keyframes teatnamekey{
  0%{width:10px;}
  100%{height:10px;}
}
@media screen and (min-width:500px){
  a{width:16.666%;}
}
@media screen and (min-width:300px){
  @media screen and (min-height:10px){
    za{width:16.666%;}
    b{height: 10px;}
  }
  za:nth-of-type(3n){border-right:1px solid #dcdddd;}
  za:nth-of-type(6n){border-right:none;}
}
@import 'skin.css';

/*body,.S_page{background-image:url('http://ww3.sinaimg.cn/woriginal/4e71f332gw1e3r8b7kep9j.jpg');background-repeat:repeat;background-attachment:fixed;background-position:center top;}*/

body{
    font-family: "WBswficon";
}
@media print {
  i { font-size: 10pt; }
}
