i {
  font-family: 'Cutive Mono';
}

@media only screen and (max-width:480px) {
  @import url("https://fonts.googleapis.com/css?family=Cutive+Mono");

  b {
    font-size: 20px;
  }
}

body {
  font-family: 'Cutive Mono';
}

@font-face {
  font-family: 'icon-font';
  src: url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.eot?id=141111232016");
  src: url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.eot?id=141111232016#iefix") format('embedded-opentype'),
       url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.svg?id=141111232016") format('svg'),
       url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.woff?id=141111232016") format('woff'),
       url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.ttf?id=141111232016") format('truetype');
  src: url("http://img.t.sinajs.cn/t6/style/images/common/font/swbficon.eot?id=141111232016") \9;
  font-weight: normal;
  font-style: normal;
}
