body,html{height:100%;padding:0;margin:0;}
body,textarea{font-family:Consolas,'Lucida Console',monospace;font-size:12px;}
body{box-sizing:border-box;padding:10px;background:#eee;}
.outp{width:50%;height:100%;padding:20px 10px 40px;box-sizing:border-box;position:relative;margin-bottom:-30px;}
textarea{width:100%;height:100%;box-sizing:border-box;padding:10px;border:1px solid #ccc;border-radius:5px;resize:none;overflow:auto;}
.outp1{float:left;display:none;}
.outp1:before,.outp2:before{position:absolute;top:0px;}
.outp1:before{content:"HTML";}
.outp2{float:right;width:100%;}
.outp2:before{content:"CSS Used";}
form{}
.pop{width:100%;height:100%;position:fixed;top:0px;left:0px;text-align:center;background:rgba(255,255,255,0.77);display:none;font-size:0px;}
.pop:after{content:'';width:0px;height:100%;display:inline-block;vertical-align:middle;}
.pop p{margin:auto;font-size:12px;display:inline-block;vertical-align:middle;}
.pop ol{font-size:12px;text-align:left;display:inline-block;line-height:2;vertical-align:middle;}
button{position:relative;font-size:12px;display:block;margin-right:10px;}
#issuebtn{float:right;margin-right:10px;cursor:pointer;position:absolute;right:10px;top:10px;z-index:1;}
#issuebtn:hover{}
form{font-size:12px;margin-right:10px;position:relative;display:block;}
form button{margin:0;}
.operate{position:relative;display:flex;clear:both;margin-left:10px;}
#openCSSUsedSettings{text-decoration:underline;cursor:pointer;color:blue;}
.havefileaccess #openCSSUsedSettings{display:none;}