body,html{height:100%;padding:0;margin:0;}
body,textarea{font-family:Consolas,'Lucida Console',monospace;font-size:12px;}
::selection{background:#cfe8fc;}
body{box-sizing:border-box;background:inherit;display:flex;flex-direction:column;}
.outp{width:50%;box-sizing:border-box;position:relative;flex-grow:1;}
textarea{width:100%;height:100%;box-sizing:border-box;padding:10px;border:1px solid #ccc;border-left:none;border-right:none;resize:none;overflow:auto;}
textarea:focus{outline:none;}
.title{padding:5px 10px;}
.outp1{float:left;display:none;}
.outp1::before,.outp2::before{position:absolute;top:0px;}
.outp1::before{content:"HTML";}
.outp2{float:right;width:100%;}
form{}
.pop{width:100%;height:100%;position:fixed;top:0px;left:0px;text-align:center;background:rgba(255,255,255,0.77);display:none;font-size:0px;}
.pop:after{content:'';width:0px;height:100%;display:inline-block;vertical-align:middle;}
.pop p{margin:auto;font-size:12px;display:inline-block;vertical-align:middle;}
.pop ol{font-size:12px;text-align:left;display:inline-block;line-height:2;vertical-align:middle;}
button{position:relative;font-size:12px;display:block;margin-right:10px;margin:2px;height:24px;border:1px solid rgba(0, 0, 0, 0.2);border-radius:4px;padding:0px 12px;font-weight:500;color:#1a73e8;background-color:#fff;flex:none;white-space:nowrap;height:28px;margin:8px 16px 8px 0;}
button:hover{background-color:#f3f3f3;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);cursor:pointer;}
#issuebtn{float:right;cursor:pointer;z-index:1;margin-left:10px;}
#issuebtn:hover{}
form{font-size:12px;margin-right:10px;position:relative;display:block;}
form button{/* margin:0; */}
.operate{position:relative;display:flex;clear:both;margin-left:10px;flex-wrap:wrap;}
#openCSSUsedSettings,#refreshPage,#issueSpan{text-decoration:underline;cursor:pointer;color:blue;}
.havefileaccess #openCSSUsedSettings{display:none;}
.theme-dark body{color:rgb(165,165,165);}
.theme-dark textarea{background-color:#242424;border-color:#525252;color:rgb(217,217,217);}
.theme-dark ::selection{background-color:#999;}
.theme-dark .pop{color:#000;background:rgba(255,255,255,0.55);}
.theme-dark ::-webkit-scrollbar{background:#333;width:14px;cursor:pointer;}
.theme-dark ::-webkit-scrollbar-thumb{background:#333333;border:1px solid #414141;}
.theme-dark ::-webkit-scrollbar-thumb:hover{cursor:default;}
.theme-dark ::-webkit-scrollbar-track{background:#242424;border-left:1px solid #2b2b2b;}
.theme-dark button{border-color:rgba(230,230,230,0.2);color:#cccccc;background-color:rgb(36,36,36);}
#copy{background-color:#1a73e8;border:none;color:#fff;}
#copy:hover{background-color:#3b86e8;}